body {
  width: 300px;
  height: 260px;
  margin: 20px;
  border: none;
  background-color: #adeae5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 55px);
  justify-items: stretch;
  align-items: center;
}

#header {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 11px);
  justify-items: center;
  align-items: center;
}
input {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  font-size: 13px;
  border: 0;
  border-radius: 30px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #e1f7f5;
  box-shadow: 0 4px 15px 0 #2db7aa;
  width: 100%;
}
input:focus {
  outline: none;
}
input.warning {
  border: 2px solid #ce3d4a;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
input.shake {
  animation: shake 0.4s;
}

#warningMessage {
  grid-column: 1 / 5;
  grid-row: 4 / 6;
  font-size: 9px;
  color: #ce3d4a;
}

.hidden {
  display: none;
}

#addButton {
  grid-column: 5 / 6;
  grid-row: 1 / 4;
  background-color: #196861;
}
#addButton img {
  width: 70%;
  height: 70%;
}

ul {
  grid-column: 1 / 6;
  grid-row: 2 / 5;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;
}
ul::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #85e1d8;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 30px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

span {
  flex-grow: 1;
  font-size: 13px;
  color: #196861;
}

.smallButton {
  cursor: pointer;
  width: 10%;
  height: 10%;
  border: none;
  background-color: transparent;
  filter: brightness(0.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.smallButton:hover {
  filter: brightness(1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.smallButton img {
  width: 70%;
  height: 70%;
}

.mediumButton {
  width: 80%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 10%;
  box-shadow: 0 4px 15px 0 #2db7aa;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mediumButton:hover {
  filter: brightness(0.8);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mediumButton:focus {
  outline: none;
}

#footer {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 11px);
  justify-items: center;
  align-items: center;
}

#clearButton {
  grid-column: 5 / 6;
  grid-row: 2 / 5;
  background-color: #ce3d4a;
}
#clearButton img {
  width: 70%;
  height: 70%;
}
#historyButton {
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  background-color: #196861;
}
#historyButton img {
  width: 70%;
  height: 70%;
}
