body {
  width: 300px;
  padding: 1rem;
  background-color: #165b55;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

input {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.addButton {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

ul {
  grid-column: 1 / 6;
  grid-row: 2 / 5;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

h4 {
  flex-basis: 50%;
}

.delButton {
  background-color: #37cdc0;
  color: #fff;
  cursor: pointer;
}

.clearButton {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
}
