body {
  width: 300px;
  height: 260px;
  margin: 20px;
  border: none;
  background-color: #adeae5;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 55px);
  justify-items: center;
  align-items: center;
}

input {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  font-size: 13px;
  border: 0;
  border-radius: 30px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #e1f7f5;
  box-shadow: 0 4px 15px 0 #2db7aa;
  width: 100%;
}
input:focus {
  outline: none;
}

.addButton {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  width: 80%;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: #3dcfc2;
  box-shadow: 0 4px 15px 0 #2db7aa;
  color: #e1f7f5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.addButton:hover {
  background-color: #196861;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.addButton:focus {
  outline: none;
}

ul {
  grid-column: 1 / 6;
  grid-row: 2 / 5;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;
}
ul::-webkit-scrollbar {
  width: 6px;
}
ul::-webkit-scrollbar-track {
  background: #85e1d8;
  border-radius: 10px;
}
ul::-webkit-scrollbar-thumb {
  background: #f9c22e;
  border-radius: 10px;
}
ul::-webkit-scrollbar-thumb:hover {
  background: #745c04;
}

li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #85e1d8;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 30px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

span {
  flex-grow: 1;
  font-size: 13px;
  color: #196861;
}

.delButton {
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #745c04;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.delButton:hover {
  background-color: #f9c22e;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.clearButton {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: #f9c22e;
  box-shadow: 0 4px 15px 0 #2db7aa;
  color: #e1f7f5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.clearButton:hover {
  background-color: #745c04;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
